[submodule "rct-teach-me-context"]
	path = rct-teach-me-context
	url = https://github.com/lentiummmx/rct-teach-me-context.git
[submodule "rct-sprngbt-phtgllry-PWA"]
	path = rct-sprngbt-phtgllry-PWA
	url = https://github.com/lentiummmx/rct-sprngbt-phtgllry-PWA.git
